<% provide(:title, 'Contact') %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
  </head>
  <body>
  	<div class="center jumbotron">
  		<h1>CONTACT US</h1>

		<p>
		  This is the contact page for the Ruby on Rails the Phone Book application.
		</p>
      <%= image_tag("rails.svg", alt: "Rails logo", width: "200")%>
  	</div>
  </body>
</html>