<% provide(:title, "Home")%>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | ROR Sample Phone Book</title>
  </head>
  <body>
    <h1>PHONE BOOK</h1>
	<p>
	  This is the home page for the Ruby on Rails Tutorial the Phone Book application.
	</p>
  </body>
</html>