<% provide(:title, "Home")%>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
  </head>
  <body>
  	<div class="center jumbotron">
  		<%= image_tag("rails.svg", alt: "Rails logo", width: "200")%>
  		<h1>Welcome to the Phone Book</h1>

		<p>
		  This is the home page for the Ruby on Rails the Phone Book application.
		</p>
		 <%= link_to "Sign up now!", new_user_path, class: "btn btn-lg btn-primary" %>
  	</div>
  </body>
</html>